USE [NCAABasketball]
GO
/****** Object:  Table [dbo].[Seasons]    Script Date: 3/11/2022 2:28:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seasons](
	[ID] [nchar](10) NOT NULL,
	[Year] [int] NOT NULL
) ON [PRIMARY]
GO
